@font-face {
  font-family: 'Perfect Beloved';
  src: url('https://assets.cinelove.me/fonts/webfonts/perfect-beloved/perfect-beloved.woff2') format('woff2'),
       url('https://assets.cinelove.me/fonts/webfonts/perfect-beloved/perfect-beloved.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}