@font-face {
  font-family: 'Faugllin Balseyn';
  src: url('https://assets.cinelove.me/fonts/webfonts/faugllin-balseyn/faugllin-balseyn.woff2') format('woff2'),
       url('https://assets.cinelove.me/fonts/webfonts/faugllin-balseyn/faugllin-balseyn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}