@font-face {
  font-family: 'BethanWhite';
  src: url('https://assets.cinelove.me/fonts/webfonts/bethanwhite/bethanwhite.woff2') format('woff2'),
       url('https://assets.cinelove.me/fonts/webfonts/bethanwhite/bethanwhite.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}